* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    /*background: rgba(100, 145, 250, 0.3);*/
}

canvas {
    /*width: 100%;*/
    /*height: 100%;*/
    border: 1px solid black;
}

/*#controls {*/
/*    position: absolute;*/
/*    left: 25px;*/
/*    top: 25px;*/
/*}*/

/*#canvas {*/
/*    background: #ffffff;*/
/*    cursor: pointer;*/
/*    margin-left: 10px;*/
/*    margin-top: 10px;*/
/*    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);*/
/*    -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);*/
/*    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);;*/
/*}*/