* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    /*background: rgba(100, 145, 250, 0.3);*/
}

canvas {
    width: 100%;
    height: 100%;

}


#rubberbandDiv {
    position: absolute;
    border: 3px solid blue;
    cursor: crosshair;
    display: none;
}